body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    background-color: #FAF8FF;
}

/* html,
body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
} */

p {
    line-height: 2em;
    font-size: medium;
}

.circular-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

img {
    width: 100%;
    height: auto;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.home-pg {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 100vh;
    grid-gap: 20px;
}

.home-pg,
.about-me,
.my-skills-pg,
.project {
    min-height: 100vh;
    /* scroll-snap-align: start; */
}

.home-pg>.text-content {
    margin-left: 15em;
    margin-right: 3em;
}

.about-me>.text-content {
    /* margin: 5em 20em 5em 20em; */
    text-align: center;
    display: grid;
    grid-template-columns: 70em;
}

.projects {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 70em;
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    /* place-items: center;
    align-content: center; */
    padding: 20px;
}

.grid-item {
    background-color: beige;
    height: 25em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid-item>.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0em 5em 0em 5em;
    height: 100%;
}

.proj-prototype {
    width: 20em;
    height: auto;
    margin: 2em 3em 2em 0em;

}

.about-me,
.my-skills-pg,
.projects,
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contact {
    margin: 5em;
}

.my-skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0em 2em 0em;
}

.skill-icon {
    list-style-type: none;
    display: flex;
}

.skill-icon li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 1em 0em 1em;

}

.skill-icon li img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.contact-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon-container img {
    width: 40px;
    height: 40px;
    margin: 2em 1em 2em 1em;
}

.project-link {
    color: inherit;
    text-decoration: none;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 0px;
}

.project-content {
    padding: 0em 5em 5em 5em;
    /* max-height: calc(100vh - 10em); */
}

.project-prototype.bloom,
.project-prototype.bitebalance {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: calc(100vh + 10em);
    max-height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
    /* background-color: #E9F6D0; */
    align-items: center;
    justify-items: center;
    padding: 5em 5em;

}

.project-prototype.bloom .prototype-image,
.project-prototype.bitebalance .prototype-image {
    width: 80%;
    height: auto;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); */
    /* border-radius: 30px; */
    margin: 2em 0;
}

.project-prototype.mediconnect .prototype-image {
    width: 60%;
    height: auto;
}

.project-container .subheader,
.project-container .date {
    color: gray;
    text-transform: uppercase;
    font-size: smaller;
}


#project-role,
#project-overview,
#project-technologies,
.project-buttons {
    padding: 1em 0;
}

.project-buttons button {
    margin-right: 1em;
}